{% extends "::base.html.twig" %}

{% block title %}AppBundle:CustomRegisration:registerDonor{% endblock %}

{% block body %}
<h1>Welcome to the CustomRegisration:registerDonor page</h1>
{% endblock %}
