{% extends "::base.html.twig" %}

{% block title %}AppBundle:CustomRegisration:registerNeedy{% endblock %}

{% block body %}
<h1>Welcome to the CustomRegisration:registerNeedy page</h1>
{% endblock %}
