

{% extends "AssociationBundle:Default:index.html.twig" %}


{% block body %}

        {{ form(form) }}
        <div id="map"style="position: relative;height: 400px;width: 500px;"></div>
{% endblock %}



