{% block body %}
    <h1 align="center">Details of {{ campement.nom }} camps</h1>



<h2>description:</h2>
    <p>
        {{ campement.description }}
    </p>

    <p> this is all email of camps hows support  this camp</p>

    <ul class="list-group">
        {% for camp in campement.idassociation %}
            <li class="list-group-item">{{ camp }} : {{ camp.email }}  </li>
        {% endfor %}


    </ul>

{% endblock %}
