{% extends "AssociationBundle:Default:index.html.twig" %}

{% block body %}
<h1 align="center">Show Feedback</h1>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
    <th>Topic</th>
    <th>Message</th>
    </tr>
    </thead>
    <tbody>
    {% for listFeed in listFeed %}
    <tr>
        <td>
            {{ listFeed.sujet }}
        </td>
        <td>
            {{ listFeed.message }}
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
        {% endblock %}
