{% extends "BenevoleBundle:Default:index.html.twig" %}

{% block body %}
    <div>
    <center> {##}
        <!--  -->
        <h1>Fill in the form to donate</h1>
        <div class ="wrapper" align="center">
            <div class ="wrapper" align="center">{{ form(form)}}</div>
        </div>
    </center>
    </div>
{% endblock %}




