{% extends "::base2.html.twig" %}
              {% block header %}
                  <li><a href="#">About</a></li>
                  <li><a href="#">camps</a>
                      <ul class="sub-menu">

                          <li><a href="{{ path('recherche')}}">show all camps</a></li>
                          <li><a href="{{ path('show_mine')}}">supported camps</a></li>


                      </ul>
                  </li>
                  <li><a href="{{ path('contact')}}">Contact</a></li>
              {% endblock header %}
{% block title %}AppBundle:Security:add{% endblock %}

{% block body %}
    <h1>Welcome to Association Home </h1>
{% endblock %}
