{% extends "::base2.html.twig" %}

{% block head %}

{%  endblock %}

{% block header %}
    <li><a href="#">About</a></li>
    <li><a href="#">Volunteer</a>
        <ul class="sub-menu">
            <li><a href="{{ path('allevents')}}">Available Events</a></li>
            <li><a href="{{ path('myevents')}}">My Events</a></li>
            <li><a href="{{ path('prepare')}}">Donate Money</a></li>
        </ul>
    </li>

{% endblock header %}

